<div class="Collapsible Collapsible--large">
  <button class="Collapsible__Button Heading u-h6" data-action="toggle-collapsible" aria-expanded="false">
      Descripción <span class="Collapsible__Plus"></span>
  </button>
  <div class="Collapsible__Inner">
    <div class="Collapsible__Content">
      <div class="Rte">
        {{ product.description }}
      </div>
    </div>
  </div>
</div>