<div class="page-width page-content">

  {% for block in section.blocks %}
    {% case block.type %}
    {% when 'text' %}
  
      <div class="text-block" style="background-color:{{ block.settings.background_color }};">
        
        {% if block.settings.title != blank %}
        	<h2>{{ block.settings.title | escape }}</h2>
        {% endif %}
        
        {% if block.settings.text != blank %}
        	<div>{{ block.settings.text }}</div>
        {% endif %}
        
      </div>
 
    {% endcase %}
  {% endfor %}
</div>




{% schema %}
{
  "name": "Personalizacion",
  "blocks": [
    

  ]
}
{% endschema %}