{% comment %} 

<div class="Container">
  <header class="PageHeader">
    <div class="SectionHeader SectionHeader--center">
      <h1 class="SectionHeader__Heading Heading u-h1">{{ "Colaboraciones Especiales" }}</h1>
    </div>
  </header>
  
{% endcomment %} 


  
  {% comment %} Collab 01: Mau Lopez {% endcomment %}
  {% section 'image-collab-01' %}
  {% section 'featured-collection-collab-01' %}
  
  {% comment %} Collab 02: Marianame {% endcomment %}
  {% section 'image-collab-02' %}
  {% section 'featured-collection-collab-02' %}
  
  {% comment %} Collab 03: Estanfor {% endcomment %}
  {% section 'image-collab-03' %}
  {% section 'featured-collection-collab-03' %}
  


{% comment %} 

  <div class="PageContent PageContent--narrow Rte">
    {{ page.content }}
  </div>
</div>

{% endcomment %} 